{% extends 'store/base.html' %}
{% block title %}Checkout | GlowStore{% endblock %}
{% block content %}
<section class="page-title"><h1>Finalização de compra</h1></section>
<div class="checkout-layout">
  <form method="post" class="panel-form">
    {% csrf_token %}
    <h2>Entrega</h2>
    {{ form.full_name.label_tag }} {{ form.full_name }}
    {{ form.address.label_tag }} {{ form.address }}
    <h2>Pagamento</h2>
    {{ form.payment_method.label_tag }} {{ form.payment_method }}
    <h2>Envio</h2>
    {{ form.shipping_method.label_tag }} {{ form.shipping_method }}
    <button class="btn full">confirmar pedido</button>
  </form>
  <aside class="summary sticky">
    <h2>Confirmação</h2>
    {% for item in items %}<p>{{ item.product.name }} <strong>{{ item.quantity }}x</strong></p>{% endfor %}
    <hr>
    <p>Subtotal <strong>R$ {{ preview.subtotal }}</strong></p>
    <p>Entrega <strong>R$ {{ preview.shipping_total }}</strong></p>
    <p>Desconto <strong>- R$ {{ preview.discount_total }}</strong></p>
    <h3>Total R$ {{ preview.total }}</h3>
  </aside>
</div>
{% endblock %}
